/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
nav{
    position: fixed;
    width: 100%;
    background-color: orange;
    z-index: 500;
}

/* row */
.nav-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* column */
.nav-col{
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.col-sx{
    width: 20%;
    justify-content: flex-start;
}


.col-cx{
    width: 60%;
    display: flex;
    justify-content: center;
}

.col-cx a{
    display: flex;
    align-items: center;
}

.col-dx{
    width: 20%;
    justify-content: flex-end;
}

.col-cx img{
    width: 150px;
}


/* 1st & 3th nav columns content style */
.option > a{
    text-decoration: none;
    color: white;
}

.option:hover a{
    font-size: 25px;
    color: black;
}

.option{
    padding-right: 10px;
    margin-right: 15px;
}

.icons{
    margin-left: 10px;
}

.icons a{
    color: white;
    margin-left: 15px;
}

.icons:hover a{
    font-size: 20px;
    color: black;
}

/* main */
.space{
    padding-top: 150px;
}

/* row upper part style */
.section-container{
    width: 80%;
    margin: 0 auto;
    /* debug */
    border: 1px solid black;  
}

/* MAIN */
#container{
    width: 80%;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.col{
   padding: 0 10px;
   width: calc(100% / 3);
}

.col-top{
    position: relative;
    
}

.heart-container{
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 5px;
    right: 0;   
}

.fa-heart:hover{
    color: red;
}

/* lable style */
.lable{
    position: absolute;
    bottom: 30px;
    left: 0;
    display: flex;
    color: white;
    font-size: 12px;
}

.red-lable{
    margin-right: 10px;
    background-color: red;
    padding: 5px;
}

.green-lable{
    background-color: green;
    padding: 5px;
}

/* img style */
.img-container{
    position: relative;   
}

.img-container img{
    width: 100%;
    height: 100%;
}

.image2{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.image2:hover{
    opacity: 1;
}

.line{
    text-decoration: line-through;
    padding-left: 5px;
}

.details span{
    font-size: 14px;
}

