/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
nav{
    position: fixed;
    width: 100%;
    background-color: orange;
    z-index: 500;
}

/* row */
.nav-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* column */
.nav-col{
    height: 50px;
    display: flex;
    align-items: center;
}

.col-sx{
    width: 25%;
    justify-content: flex-start;
}

.col-cx{
    width: 50%;
    display: flex;
    justify-content: center;
}

.col-cx a{
    display: flex;
    align-items: center;
}

.col-dx{
    width: 25%;
    justify-content: flex-end;
}

.col-cx img{
    width: 120px;
}

/* 1st & 3th nav columns content style */
.option > a{
    text-decoration: none;
    color: white;
}

.option{
    padding-right: 10px;
}

.icons{
    padding-left: 10px;
}

.icons > a{
    color: white;
}

/* main */
.space{
    padding-top: 100px;
}

/* row upper part style */
.section-container{
    width: 80%;
    margin: 0 auto;
    /* debug */
    border: 1px solid black;  
}

/* MAIN */
#container{
    width: 80%;
    margin: 0 auto;
    /* DEBUG */
    /* border: 1px solid black; */
    /* height: 500px; */
}

.row{
    display: flex;
    justify-content: space-between;

    /* DEBUG */
   
}

.col{
    /* DEBUG */
    /* width: calc(100% / 3); */
    /* border: 1px solid black; */
}

.col-top{
    position: relative;
}

.col-bottom{

}

.heart-container{
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 5px;
    right: 0;   
}

.lable{
    position: absolute;
    bottom: 40px;
    left: 0;
    display: flex;
    color: white;
    font-size: 12px;
}

.red-lable{
    margin-right: 10px;
    background-color: red;
    padding: 5px;
}

.green-lable{
    background-color: green;
    padding: 5px;
}

.img-container{
    position: relative;
    height: 400px;
}

.img-container img{
    width: 100%;
    height: 100%;
}

.image2{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.image2:hover{
    opacity: 1;
}

.line{
    text-decoration: line-through;
    padding-left: 5px;
    font-size: 14px;
}

.fa-heart:hover{
    color: red;
}
